<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaDealers/ViewHelpers" data-namespace-typo3-fluid="true">
<script>
    (function (w) {
        var PxaDealersMaps = w.PxaDealersMaps || {};

        PxaDealersMaps.MapSettings = PxaDealersMaps.MapSettings || {};
        PxaDealersMaps.MapSettings = {
            dealers: <f:format.htmlentitiesDecode><pxa:jsonEncode value="{dealers}" /></f:format.htmlentitiesDecode>,
            dealerItems: '.dealer-item',
	        searchCenter: <f:format.htmlentitiesDecode><pxa:jsonEncode value="{searchCenter}" /></f:format.htmlentitiesDecode>,
        };

        PxaDealersMaps.settings = <f:format.htmlentitiesDecode><pxa:jsonEncode value="{settings.map}" /></f:format.htmlentitiesDecode>;
	    PxaDealersMaps.labels = <f:format.htmlentitiesDecode><pxa:jsonEncode value="{labelsJs}" /></f:format.htmlentitiesDecode>;

        w.PxaDealersMaps = PxaDealersMaps;
    })(window);
</script>
</html>