<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaDealers/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <script>
        (function (w) {
            var PxaDealersMaps = w.PxaDealersMaps || {};

            PxaDealersMaps.Maps = PxaDealersMaps.Maps || {};
            PxaDealersMaps.Maps["map-{uid}"] = {
                "dealers": <f:format.htmlentitiesDecode><pxa:jsonEncode value="{dealers}" /></f:format.htmlentitiesDecode>,
                "uid": "{uid}",
                "dealerItems": ".dealer-item"
            };

            if (typeof PxaDealersMaps.settings === "undefined") {
                PxaDealersMaps.settings = <f:format.htmlentitiesDecode><pxa:jsonEncode value="{settings.map}" /></f:format.htmlentitiesDecode>;
            }

            w.PxaDealersMaps = PxaDealersMaps;
        })(window);
        </script>
    </f:section>
</div>


