<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">
        <div id="pxa-dealers-search">
            <f:form object="{search}" name="search" action="searchResults" pageUid="{settings.search.searchResultPage}">
                <div class="form-group">
                    <f:form.textfield type="text"
                                      property="searchTermOriginal"
                                      value="{searchTermOriginal}"
                                      data="{ajax-uri: '{f:uri.action(action: \'suggest\', pageType: \'2313089\')}', pid: '{storagePageIds}'}"
                                      class="form-control dealer-search-field"
                                      placeholder="{f:translate(key: 'fe.placeholder')}"/>
                </div>
            </f:form>
        </div>
    </f:section>
</div>