
<label for="name">
	<f:translate key="tx_pxadealers_domain_model_dealers.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="title">
	<f:translate key="tx_pxadealers_domain_model_dealers.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="telephone">
	<f:translate key="tx_pxadealers_domain_model_dealers.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
<label for="website">
	<f:translate key="tx_pxadealers_domain_model_dealers.website" />
</label><br />
	<f:form.textfield property="website" /><br />
<label for="adrress">
	<f:translate key="tx_pxadealers_domain_model_dealers.adrress" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="adrress" /><br />
<label for="zipcode">
	<f:translate key="tx_pxadealers_domain_model_dealers.zipcode" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="zipcode" /><br />
<label for="description">
	<f:translate key="tx_pxadealers_domain_model_dealers.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="lat">
	<f:translate key="tx_pxadealers_domain_model_dealers.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_pxadealers_domain_model_dealers.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="latLngIsSet">
	<f:translate key="tx_pxadealers_domain_model_dealers.lat_lng_is_set" />
</label><br />
	<f:form.checkbox property="latLngIsSet" value="1" /><br />