
<table class="tx-pxa-dealers" >
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.name" />
		</td>
		<td>
			{dealers.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.title" />
		</td>
		<td>
			{dealers.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.telephone" />
		</td>
		<td>
			{dealers.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.website" />
		</td>
		<td>
			{dealers.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.adrress" />
		</td>
		<td>
			{dealers.adrress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.zipcode" />
		</td>
		<td>
			{dealers.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.description" />
		</td>
		<td>
			{dealers.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.lat" />
		</td>
		<td>
			{dealers.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.lng" />
		</td>
		<td>
			{dealers.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxadealers_domain_model_dealers.lat_lng_is_set" />
		</td>
		<td>
			{dealers.latLngIsSet}
		</td>
	</tr>
</table>