.pxa-dealers-map img {
    max-width: none;
}

.tx-pxa-dealers .warning-message,
.tx-pxa-dealers .error-message {
    padding: 15px;
}

.tx-pxa-dealers .warning-message {
    background-color: #fcf8e3;
}

.tx-pxa-dealers .error-message {
    background-color: #f2dede;
}

.pxa-dealers-list {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.pxa-dealers-list .dealer-item {
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
}

@media screen and (max-width: 992px) {
    .pxa-dealers-list .dealer-item {
        flex-basis: 25%;
    }
}
@media screen and (max-width: 640px) {
    .pxa-dealers-list .dealer-item {
        flex-basis: 50%;
    }
}
