#pxa-dealers-map img {
	max-width: none;
}
#ajax-load-dealer,
#ajax-load-dealer .after-load {
	display: none;
}
#preview-pre-loader {
    display: none;
    text-align: center;
}
.pxa-dealers-list {
	display: none;
}