<f:layout name="BackendModule" />

<f:section name="main">

  <f:flashMessages />

  <div class="container-fluid">
    <div class="col-md-6">
      <f:form class="import-dealers-form" action="import" enctype="multipart/form-data">

        <div class="form-group">
          <label for="file">File</label>
          <f:form.upload class="form-control file-upload-field" name="file" id="file" />
        </div>
        <div class="form-group">
          <label for="defaultCountry">Default country</label>
          <select class="form-control" name="defaultCountry" id="defaultCountry">
            <f:for each="{countries}" as="country">
              <option value="{country.value}">{country.name}</option>
            </f:for>
          </select>
        </div>
        <div class="form-group">
          <label for="languageUid">Language</label>
          <select class="form-control" name="tx_pxadealers_web_pxadealersimport[languageUid]" id="languageUid">
            <f:for each="{systemLanguages}" as="systemLanguage">
              <option value="{systemLanguage.uid}">{systemLanguage.title}</option>
            </f:for>
          </select>
        </div>
        <div class="form-group">
          <f:form.checkbox id="prepend-phone-zero" name="prependPhoneZero" value="1" />
          <label for="prepend-phone-zero">Make sure phone number starts with 0</label>
        </div>
        <div class="form-group">
          <f:form.submit value="Import" class="btn btn-default submit-btn"/>
        </div>
      </f:form>
    </div>
  </div>

  <!-- Modal -->
  <div id="warning-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Warning</h4>
        </div>
        <div class="modal-body">
          <p>Your are going to delete all <span class="dealers-count"></span> dealers in <span class="folder-uid"></span> folder and replace it with the new ones from the file. </p>
          <p>Are you sue you want to do this?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning approve-form-submit">Import</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <script>
    var getDealersInfoAjaxUrl = '<f:uri.action action="getDealersInfoAjax" />';
  </script>

</f:section>