<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <f:render partial="Javascript/JsFilterCheckboxSettings" section="main" arguments="{uid: uid}"/>

        <div id="pxa-dealer-map-filter-{uid}" class="pxa-dealers-categories">
            <f:for each="{categories}" as="category">
                <div class="checkbox">
                    <label><input type="checkbox" value="{category.uid}"> {category.title}</label>
                </div>
            </f:for>
        </div>
    </f:section>
</div>