{namespace pxa=PXA\PxaDealers\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="DefaultAjax" />
This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:if condition="{dealers -> f:count()} > 0">
        <script type="text/javascript">
          <f:format.raw>{jsArray}</f:format.raw>
          var markersArray = [];
        </script>

        <div class="pxa-dealers-list{f:if(condition: settings.additionalListWrapperClass, then: ' {settings.additionalListWrapperClass}')}">
          
          <f:for each="{dealers}" as="dealer" iteration="itemIterationDealers">

            <f:if condition="{settings.newRow}">              
                  
              <f:if condition="<pxa:isNewRow current=\"{itemIterationDealers.index}\" needed=\"{settings.newRow}\"/>">
                </div>
                <div class="pxa-dealers-list{f:if(condition: settings.additionalListWrapperClass, then: ' {settings.additionalListWrapperClass}')}">                   
              </f:if>
                
            </f:if>

            <div  id="dealer-{itemIterationDealers.index}" class="dealer-item{f:if(condition: settings.elementAdditionalClass, then: ' {settings.elementAdditionalClass}')}">
              <b>{dealer.name}</b>
              <p class="dealer-info">
                <span class="dealer-address">{dealer.adrress}</span><br>
                <span class="dealer-zipcode">{dealer.zipcode}</span><br>
                <span class="dealer-address">{dealer.city}</span><br>
                <f:if condition="{dealer.website}">                    
                    <span class="dealer-website"><f:link.external uri="{dealer.website}" target="_blank">{dealer.website}</f:link.external></span><br>
                </f:if>                
                <f:if condition="{dealer.telephone}">                    
                    <span class="dealer-telephone"><a href="tel:<pxa:dealers phone='{dealer.telephone}'/>">Tel:&nbsp;{dealer.telephone}</a></span><br>
                </f:if>                
                <f:if condition="{dealer.email}">                    
                    <span class="dealer-email"><f:link.email email="{dealer.email}" /></span><br>
                </f:if>
              </p>
            </div>
            
          </f:for>

        </div>
    </f:if>

</f:section>