<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaDealers/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <f:if condition="{settings.cssFile}">
            <f:asset.css identifier="tx_pxadealers_css" href="{settings.cssFile}" />
        </f:if>

        <f:if condition="{settings.markerClustererFile}">
            <f:asset.script identifier="tx_pxadealers_markerclusterer" src="{settings.markerClustererFile}" />
        </f:if>

        <f:if condition="{settings.pluginFile}">
            <f:asset.script identifier="tx_pxadealers_plugin" src="{settings.pluginFile}" />
        </f:if>

        <f:if condition="{settings.dealersFile}">
            <f:asset.script identifier="tx_pxadealers_dealers" src="{settings.dealersFile}" />
        </f:if>

        <f:render partial="MapTemplate" arguments="{_all}" />
    </f:section>
</div>
