<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaDealers/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <f:if condition="{settings.cssFilePath}">
            <f:asset.css identifier="tx_pxadealers_css" href="{settings.cssFilePath}" />
        </f:if>

        <f:if condition="{settings.markerClustererFilePath}">
            <f:asset.script identifier="tx_pxadealers_markerclusterer" src="{settings.markerClustererFilePath}" />
        </f:if>

        <f:if condition="{settings.pluginFilePath}">
            <f:asset.script identifier="tx_pxadealers_plugin" src="{settings.pluginFilePath}" />
        </f:if>

        <f:if condition="{settings.dealersFilePath}">
            <f:asset.script identifier="tx_pxadealers_dealers" src="{settings.dealersFilePath}" />
        </f:if>

        <f:render partial="MapTemplate" arguments="{_all}" />
    </f:section>
</div>
