<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaDealers/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <pxa:includeFile path="EXT:pxa_dealers/Resources/Public/Css/pxa_dealers.css" />
        <pxa:includeFile path="EXT:pxa_dealers/Resources/Public/JavaScript/markerclusterer.js" library="1" />
        <pxa:includeFile path="EXT:pxa_dealers/Resources/Public/JavaScript/isotope.pkgd.min.js" library="1" />
        <pxa:includeFile path="EXT:pxa_dealers/Resources/Public/JavaScript/pxa_dealers_plugin.js" />

        <pxa:includeFile path="EXT:pxa_dealers/Resources/Public/JavaScript/pxa_dealers.js" />

        <f:render partial="MapTemplate" arguments="{_all}" />
    </f:section>
</div>
